name: Build APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Buildozer Action
        uses: ArtemSBulgakov/buildozer-action@v1
        with:
          command: buildozer android debug
